# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
*.db
backend/uploads/*
!backend/uploads/.gitkeep
backend/venv/
backend/.venv/

# Node
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local

# OS
.DS_Store
*.swp
